body {
  background-color: #EEEEEE;
}

.container {
  height: 1100px;
  background-color: white;
}

.navbar {
  margin-right: -15px;
  margin-left: -15px;
}

.overall {
  margin-top: 40px;
}

.text {
  float: left;
}

.blogtitle {
  list-style-type: none;
}

.overall1 {
  margin-top: 30px;
}

.overall2 {
  margin-top: 30px;
}

.newarticles {
  height: 100px;
}

.text-title {
  margin-left: 800px;
  margin-top: 50px;
}

.aaa {
  width: 150px;
  height: 0px;
  margin-left: 750px;
}

hr {
  margin-bottom: 7px;
  height: 2px;
  background-color: #DDDDDD;
  width: 200%;
  border: none;
}

img.example1 {
  margin-top: -12px;
  width: 50px;
  height: 50px;
}

.text1 {
  margin-top: 5px;
  margin-left: 60px;
  width: 100px;
  height: 0px;
}

.sample {
  margin-top: 20px;
  margin-left: 60px;
  width: 220px;
  height: 0px;
}

.jjj {
  margin-top: -5px;
}

.download1 {
  margin-top: 1px;
}

.text2 {
  margin-top: 5px;
  margin-left: 60px;
  width: 100px;
  height: 0px;
}

.sample1 {
  margin-top: 20px;
  margin-left: 60px;
  width: 220px;
  height: 0px;
}

.sample3 {
  margin-top: 20px;
  margin-left: 60px;
  width: 220px;
  height: 0px;
}

.sample2 {
  margin-top: 20px;
  margin-left: 60px;
  width: 220px;
  height: 0px;
}

.text3 {
  margin-top: 5px;
  margin-left: 60px;
  width: 100px;
  height: 0px;
}

.text4 {
  margin-top: 5px;
  margin-left: 60px;
  width: 100px;
  height: 0px;
}

.line {
  margin-top: 60px;
}

.bevelopmentdate {
  margin-top: 20px;
  margin-left: 470px;
}

.thinness {
  color: rgba(0, 0, 0, 0.6)
}